obj/project.assets.json
obj/project.nuget.cache
obj/SeleniunNetCoreConsoleApp.csproj.nuget.dgspec.json
obj/SeleniunNetCoreConsoleApp.csproj.nuget.g.props
obj/SeleniunNetCoreConsoleApp.csproj.nuget.g.targets
obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
obj/Debug/netcoreapp3.1/SeleniunNetCoreConsoleApp.AssemblyInfo.cs
obj/Debug/netcoreapp3.1/SeleniunNetCoreConsoleApp.AssemblyInfoInputs.cache
obj/Debug/netcoreapp3.1/SeleniunNetCoreConsoleApp.assets.cache
obj/Debug/netcoreapp3.1/SeleniunNetCoreConsoleApp.csprojAssemblyReference.cache
bin/Debug/netcoreapp3.1/SeleniunNetCoreConsoleApp
bin/Debug/netcoreapp3.1/SeleniunNetCoreConsoleApp.deps.json
bin/Debug/netcoreapp3.1/SeleniunNetCoreConsoleApp.dll
bin/Debug/netcoreapp3.1/SeleniunNetCoreConsoleApp.pdb
bin/Debug/netcoreapp3.1/SeleniunNetCoreConsoleApp.runtimeconfig.dev.json
bin/Debug/netcoreapp3.1/SeleniunNetCoreConsoleApp.runtimeconfig.json
obj/Debug/netcoreapp3.1/SeleniunNetCoreConsoleApp
obj/Debug/netcoreapp3.1/SeleniunNetCoreConsoleApp.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp3.1/SeleniunNetCoreConsoleApp.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp3.1/SeleniunNetCoreConsoleApp.dll
obj/Debug/netcoreapp3.1/SeleniunNetCoreConsoleApp.genruntimeconfig.cache
obj/Debug/netcoreapp3.1/SeleniunNetCoreConsoleApp.pdb
